{{#each artists}}
  <div class="site-width mx-auto">
    <div class="description">
      <div
        class="container bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow"
        id="description"
      >
        <h2><strong>{{name}}</strong></h2>
      </div>
    </div>
    <div class="searchbars row row-cols-lg-auto align-items-center">
      <form class="d-flex searchfield col-12 col-lg-4" role="search">
        <input
          class="form-control me-2"
          id="search-by-artist-input"
          type="search"
          placeholder="Search by Artist"
          aria-label="Search by Artist"
        />
        <button
          class="btn btn-outline-secondary"
          id="search-by-artist-button"
          type="submit"
        >
          Search
        </button>
      </form>
      <form class="d-flex searchfield col-12 col-lg-4" role="search">
        <input
          class="form-control me-2"
          id="search-by-album-input"
          type="search"
          placeholder="Search by Album"
          aria-label="Search by Album"
        />
        <button
          class="btn btn-outline-secondary"
          id="search-by-album-button"
          type="submit"
        >
          Search
        </button>
      </form>
      <form class="d-flex searchfield col-12 col-lg-4" role="search">
        <input
          class="form-control me-2"
          id="search-by-song-input"
          type="search"
          placeholder="Search by Song"
          aria-label="Search by Song"
        />
        <button
          class="btn btn-outline-secondary"
          id="search-by-song-button"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
    <div
      class="container row artist-pic-bio-full p-0 ps-3 pe-3 m-0"
      style="width: 100%"
    >
      <div class="container col-12 col-sm-4 p-0 m-0">
        <div class="card m-0 shadow" id="artist-photo">
          <a href="#">
            <img src="/images/artistPhotos/{{image}}" class="card-img" />
          </a>
        </div>
      </div>
      <div class="container col-12 col-sm-8 p-0 m-0">
        <h4 style="text-align: left">{{bio}}</h4>
      </div>
    </div>
    <div
      class="container row p-0 ps-3 m-0 mt-3"
      style="height: fit-content; width: 100%"
    >
      {{#each records}}
        <div class="container col-6 col-sm-3 p-0 m-0 mb-3 pe-3">
          <div
            class="card m-0 p-0 shadow"
            style="height: fit-content"
            id="album-cover"
          >
            <a href="/album/{{id}}">
              <img src="/images/coverArt/{{cover_art}}" class="card-img" />
              <h4>{{name}}</h4>
            </a>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
{{/each}}