     {{#each users}}
      <div class="site-width mx-auto">
        <div class="description">
          <div
            class="container bd-gutter border bs-border-color bg-opacity-10 rounded-1 shadow"
            id="description"
          >
            <h2><strong>Your Collection {{user_name}}</strong></h2>
          </div>
        </div>
        <div class="searchbars row row-cols-lg-auto align-items-center mb-3">
          <form class="d-flex searchfield col-12 col-lg-4" role="search">
            <input
              class="form-control me-2"
              id="search-by-artist-input"
              type="search"
              placeholder="Search by Artist"
              aria-label="Search by Artist"
            />
            <button
              class="btn btn-outline-secondary"
              id="search-by-artist-button"
              type="submit"
            >
              Search
            </button>
          </form>
          <form class="d-flex searchfield col-12 col-lg-4" role="search">
            <input
              class="form-control me-2"
              id="search-by-album-input"
              type="search"
              placeholder="Search by Album"
              aria-label="Search by Album"
            />
            <button
              class="btn btn-outline-secondary"
              id="search-by-album-button"
              type="submit"
            >
              Search
            </button>
          </form>
          <form class="d-flex searchfield col-12 col-lg-4" role="search">
            <input
              class="form-control me-2"
              id="search-by-song-input"
              type="search"
              placeholder="Search by Song"
              aria-label="Search by Song"
            />
            <button
              class="btn btn-outline-secondary"
              id="search-by-song-button"
              type="submit"
            >
              Search
            </button>
          </form>
        </div>
        <div
          class="container user-artist-block ps-0 pe-3 mb-1"
          style="width: 100%; height: auto"
        >
          <div class="row mx-auto" style="width: 100%">
            <div
              class="container row col-12 p-0 m-0"
              style="height: auto"
            >
            {{#each user_records}}
              <div class="container col-6 col-sm-3 ps-3 p-0 m-0 mb-3">
              <div
                class="card m-0 p-0 shadow"
                style="height: fit-content" id="album-cover"
              >
                <a href="/album/{{id}}"
                  ><img
                    src="./images/coverArt/{{cover_art}}"
                    class="card-img"
                  />
                  <h4 class="pb-0">{{artist.name}}E</h4>
                  <h4>{{name}}</h4>
                </a>
              </div>
            </div>
            {{/each}}
          
            
            
            
        </div>
      </div>
    {{/each}}